<h1>Sök project eller kompetens</h1>
<div class="row">
	<div class="col-xs-6">
		<h2>Söker du jobb?</h2>
		<input type="text">
		<button>Sök</button>
	</div>
	<div class="col-xs-6">
		<h2>Söker du kompetens?</h2>
		<input type="text">
		<button>Sök</button>
	</div>
</div>
<div class="row">
	<div class="col-xs-10">
		<form role='form'>
			<label for="">Vilke kompetens letar du efter?</label>
			<select class="form-control">
			  <option>Webb utveckling</option>
			  <option>System administration</option>
			  <option>Graphic design</option>
			  <option>Project management</option>
			  <option>App utveckling</option>
			</select>
			<label for="contract">Typ av samarbete:</label>
			<div class="checkbox">
  				<label>
    			<input type="checkbox" value="">
    				Anställning
  				</label>
  				<label>
    			<input type="checkbox" value="">
    				Konsult
  				</label>
			</div>
			<label for="Ort">Ort</label>
			<select class="form-control">
			  <option>Malmö</option>
			  <option>Stockholm</option>
			  <option>Uppsala</option>
			  <option>Lund</option>
			  <option>Kiruna</option>
			</select>
			<label for="experience">Ervarenhet</label>
			<select class="form-control">
			  <option>1 år</option>
			  <option>2 år</option>
			  <option>3 år</option>
			  <option>4 år</option>
			  <option>5 år</option>
			</select>
			<label for="skills">Konstkaper</label>
			<div class="checkbox">
  				<label>
    			<input type="checkbox" value="">
    				Endast aktiva annonser
  				</label>
			</div>
			<div class="checkbox">
  				<label>
    			<input type="checkbox" value="">
    				CSS
  				</label>
  				<label>
    			<input type="checkbox" value="">
    				HTML5
  				</label>
  				<label>
    			<input type="checkbox" value="">
    				javascript
  				</label>
  				<label>
    			<input type="checkbox" value="">
    				php
  				</label>
  				<label>
    			<input type="checkbox" value="">
    				java
  				</label>
			</div>
			<label for="extraText">Mer information</label>
			<textarea class="form-control" rows="5"></textarea>
			<button type="button" class="btn btn-success">Sök</button>
		</form>
	</div>
</div>